@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lacquer&family=Love+Ya+Like+A+Sister&family=Permanent+Marker&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lacquer&family=Love+Ya+Like+A+Sister&family=Permanent+Marker&family=Playpen+Sans:wght@100..800&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/*Tipografias y colores*/
:root {
    --font-dibujo: "Lacquer", serif;
    --font-title: "Playpen Sans", serif;
  
    /* Colores (opcional) */
    --color-primary: #333;
    --color-secondary: #777;
  }


/*
.playpen-sans{
    font-family: "Playpen Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>: Use a value from 100 to 800;
    font-style: normal;
  }
  
*/